<h1 class="page-header">{{t 'mg-project.find'}}</h1>
<div class="actions">
  {{#acl-btn-create model="mg-project" url="/mg-projects/create"}}{{t 'mg-project.create'}}{{/acl-btn-create}}
</div>
<br>
{{conteudos-table
  data=model.records
  columns=model.columns
  pageSize=25
  useFilteringByColumns=false
  deleteRecord='deleteRecord'
  changePublishedStatus='changePublishedStatus'
}}